{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Everest Vision</title>
	<link href="{%static 'css/style.css'%}" rel="stylesheet">
</head>
<body>
<div id="home">
	<div class="header">
		<img src="{%static 'photo/logo.png'%}" width="130" height="110">
	</div>
	<div class="nav">
		<ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#galary">Gallary</a></li>
        <li><a href="#Book">Book</a></li>
        <li><a href="#video">Clips</a></li>
        <li><a href="#contact">Contact</a></li>
		</ul>
	</div>
</div>
